/*!
 * Start Bootstrap - Common style v0.0.1 ()
 * Copyright 2013-2019 Crabvn
 */

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto';
}

.btn-xl {
  padding: 1.25rem 2.5rem;
}

.bg-orange {
  background: #e69500;
}

.bg-yellow {
  background: #FFF200;
}

.pd-h-90 {
  padding: 90px 0;
}

.content-section-heading h2 {
  font-size: 3rem;
}

.content-section-heading h3 {
  font-size: 1rem;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

/* Map */
.map {
  height: 30rem;
}

@media (max-width: 992px) {
  .map {
    height: 75%;
  }
}

.map iframe {
  pointer-events: none;
}

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: rgba(52, 58, 64, 0.5);
  line-height: 45px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {
  background: #343a40;
}

.scroll-to-top i {
  font-weight: 800;
}

.orange {
  color: #e69500;
}

.fs28 {
  font-size: 1.46vw;
}

@media screen and (max-width: 479px) {
  .fs28 {
    font-size: 16px;
  }
}

.lh35 {
  line-height: 35px;
}

.fs72 {
  font-size: 3.75vw;
}

@media screen and (max-width: 479px) {
  .fs72 {
    font-size: 40px;
  }
}

.lh80 {
  line-height: 80px;
}

.fw400 {
  font-weight: normal;
}

.db {
  display: block;
}

.fs42 {
  font-size: 2.19vw;
}

@media screen and (max-width: 479px) {
  .fs42 {
    font-size: 42px;
  }
}

.fs40 {
  font-size: 2.09vw;
}

@media screen and (max-width: 479px) {
  .fs40 {
    font-size: 32px;
  }
}

.mt100 {
  margin-top: 5.2vw;
}

@media screen and (max-width: 479px) {
  .mt100 {
    font-size: 40px;
  }
}

.ffplayfair {
  font-family: 'Playfair Display', serif;
}

.color-black {
  color: #000;
}

.margin-v-0 {
  margin-left: 0;
  margin-right: 0;
}

@media screen and (max-width: 479px) {
  .margin-xs-v-0 {
    margin-left: 0;
    margin-right: 0;
  }
}

.roboto {
  font-family: 'Roboto';
}

.fw300 {
  font-weight: 300;
}

.site-logo {
  max-width: 11.5vw;
}

@media screen and (max-width: 479px) {
  .site-logo {
    max-width: 280px;
  }
}

.db-ib {
  display: inline-block;
}

.homepage {
  background-image: url("../img/homepage/background@2x.png");
  background-position: center 5.2vw;
  background-repeat: no-repeat;
  background-size: 53%;
}

@media screen and (max-width: 479px) {
  .homepage {
    background-position: center 50px;
    background-size: 73%;
  }
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 2.6vw;
}

@media screen and (max-width: 479px) {
  .masthead {
    padding-top: 32px;
  }
}

.masthead h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .masthead h1 {
    font-size: 5.5rem;
  }
}

/* Side Menu */
#sidebar-wrapper {
  position: fixed;
  z-index: 2;
  right: -100%;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
  background: #000000;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
}

#sidebar-wrapper small {
  font-weight: 200;
}

@media (min-width: 480px) {
  #sidebar-wrapper {
    padding: 0 140px;
  }
}

.sidebar-nav {
  list-style: none;
}

@media (min-width: 480px) {
  .sidebar-nav li a:active:after, .sidebar-nav li a:hover:after {
    content: url("../img/common/side-bar-circle@2x.png");
    /* Add content: \2022 is the CSS Code/unicode for a bullet */
    position: absolute;
    right: -20px;
    top: 22%;
    max-width: 1.4vw;
  }
}

.sidebar-nav li.sidebar-nav-item a {
  display: block;
  text-decoration: underline;
  color: #fff;
  padding: .68vw;
  font-size: 2.19vw;
  text-align: right;
  padding-right: 1.5vw;
  position: relative;
}

@media screen and (max-width: 479px) {
  .sidebar-nav li.sidebar-nav-item a {
    font-size: 24px;
  }
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  font-size: 1.2rem;
  background: rgba(52, 58, 64, 0.1);
  height: 80px;
  line-height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.sidebar-nav > .sidebar-brand a {
  color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#sidebar-wrapper.active {
  right: 250px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu-toggle {
  position: fixed;
  right: 4.17vw;
  top: 90vh;
  width: 66px;
  height: 66px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #000;
  line-height: 50px;
  z-index: 999;
}

.menu-toggle:focus, .menu-toggle:hover {
  color: #fff;
}

.menu-toggle:hover {
  color: #f8f9fa;
}

.menu-toggle .fas:before {
  top: 25%;
  position: absolute;
  left: 29%;
  color: #000;
}

.menu-toggle .fa-bars:before {
  content: "\f0c9";
}

.menu-toggle.active {
  border-color: #fff;
}

.menu-toggle.active .fa-times:before {
  content: "\f00d";
  top: 25%;
  position: absolute;
  left: 32%;
  color: #fff;
}

.service-icon {
  background-color: #fff;
  color: #1D809F;
  height: 7rem;
  width: 7rem;
  display: block;
  line-height: 7.5rem;
  font-size: 2.25rem;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.callout {
  padding: 15rem 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url("../img/bg-callout.jpg");
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/bg-callout.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.callout h2 {
  font-size: 3.5rem;
  font-weight: 700;
  display: block;
  max-width: 30rem;
}

.work-with-common a.font-weight-bold {
  font-size: 20px;
  text-decoration: underline;
}

.work-with-common .work-with {
  font-size: 28px;
  font-weight: 600;
  padding: 0 0 20px 0;
}

.work-with-common small {
  font-size: 14px;
  font-weight: 300;
}

.work-with-common .main-text {
  font-size: 20px;
  max-width: 600px;
  font-weight: 300;
  margin: 0 auto;
  padding: 41px 0;
}

.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
}

.portfolio-item .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.portfolio-item .caption .caption-content {
  color: #fff;
  margin: auto 2rem 2rem;
}

.portfolio-item .caption .caption-content h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.portfolio-item .caption .caption-content p {
  font-weight: 300;
  font-size: 1.2rem;
}

@media (min-width: 992px) {
  .portfolio-item {
    max-width: none;
    margin: 0;
  }
  .portfolio-item .caption {
    -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }
  .portfolio-item .caption .caption-content {
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
  }
  .portfolio-item img {
    -webkit-transition: -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }
  .portfolio-item:hover img {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
  .portfolio-item:hover .caption {
    background-color: rgba(29, 128, 159, 0.9);
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
}

section.common-section {
  margin-left: 16.3vw;
  margin-right: 14.3vw;
  padding-top: 13.3vw;
  padding-bottom: 10vw;
}

@media screen and (max-width: 479px) {
  section.common-section {
    margin: 0;
    padding: 50px 0;
  }
}

section.common-section .small-circle {
  left: 29.17vw;
}

@media screen and (max-width: 479px) {
  section.common-section .small-circle {
    display: none;
  }
}

section.common-section .step {
  line-height: 40px;
  display: block;
  margin-top: 30px;
}

@media screen and (max-width: 479px) {
  section.common-section .step {
    margin-top: 0;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 479px) {
  section.common-section .left-zone {
    padding: 0;
  }
}

section.common-section .center-zone {
  padding: 0 4.7vw;
}

@media screen and (max-width: 479px) {
  section.common-section .center-zone {
    padding: 0;
  }
}

section.common-section .main-text {
  font-weight: 400;
}

@media (min-width: 480px) {
  section.common-section .main-text.with-comma:before {
    content: url("../img/homepage/open-quote@2x.png");
    top: -40px;
    position: absolute;
    left: -30px;
  }
  section.common-section .main-text.with-comma:after {
    content: url("../img/homepage/close-quote@2x.png");
    bottom: -20px;
    position: absolute;
  }
}

section.common-section .main-text.smaller {
  font-size: 2.6vw;
  line-height: 3.1vw;
}

@media screen and (max-width: 479px) {
  section.common-section .main-text.smaller {
    font-size: 32px;
    line-height: 55px;
  }
}

section.common-section small, section.common-section .more-detail, section.common-section .more-trend {
  font-style: italic;
  display: block;
}

section.common-section .more-detail {
  bottom: 40px;
  left: -20px;
  max-width: 40px;
}

section.common-section .more-trend {
  bottom: 40px;
  left: -20px;
  max-width: 40px;
}

@media screen and (max-width: 479px) {
  section.common-section .more-trend {
    display: none;
  }
}

@media (min-width: 480px) {
  section.common-section .more-trend:before {
    content: url("../img/homepage/undo.png");
    position: absolute;
    left: 130px;
    bottom: -20px;
  }
  section.common-section .more-trend:after {
    content: "";
    display: inline-block;
    width: 120px;
    height: 2px;
    background-color: #000;
  }
}

section.common-section .author {
  font-size: 18px;
  font-weight: 100;
  font-style: italic;
  padding-right: 44px;
  padding-top: 20px;
}

section.common-section .scroll-down {
  display: block;
  margin-top: 3vw;
  font-size: 0;
}

section.common-section .scroll-down:after {
  content: url("../img/homepage/scroll-down-btn@2x.png");
}

@media screen and (min-width: 1600px) {
  section.common-section .scroll-down {
    margin-top: 6vw;
  }
}

@media screen and (max-width: 479px) {
  section.common-section .scroll-down {
    margin-top: 20px;
  }
}

section.common-section .more-detail-img {
  margin-top: 7vw;
  display: block;
  max-width: 10vw;
}

@media screen and (max-width: 479px) {
  section.common-section .more-detail-img {
    margin-top: 30px;
    max-width: 130px;
  }
}

footer.footer {
  padding-top: 160px;
  padding-bottom: 230px;
  background: #fff;
}

footer.footer .social-link {
  display: block;
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 1.5rem;
  background-color: #1D809F;
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

footer.footer .social-link:hover {
  background-color: #155d74;
  text-decoration: none;
}

footer.footer .links a {
  float: left;
  display: inline-block;
  text-decoration: underline;
  margin-right: 4vw;
  font-size: 18px;
}

footer.footer .footerleft {
  float: left;
  margin-left: 0;
}

footer.footer .footerleft.col-md-3 {
  max-width: 27%;
}

@media (min-width: 480px) {
  footer.footer .footerleft {
    margin-left: 16.5vw;
  }
}

footer.footer .footerright {
  margin-left: 0;
  float: left;
}

@media (min-width: 480px) {
  footer.footer .footerright {
    margin-left: 13.6vw;
  }
}

footer.footer .footerright.col-md-3 {
  max-width: 28%;
}

footer.footer .footerright p {
  font-size: 14px;
  font-weight: 300;
}

footer.footer .about-common {
  padding: 20px 0 25px 0;
  font-size: 18px;
  font-weight: 300;
  max-width: 400px;
}

footer.footer .about-common span {
  display: block;
  padding: 0;
  margin-bottom: 0;
}

a {
  color: #1D809F;
}

a:hover, a:focus, a:active {
  color: #155d74;
}

.btn-primary {
  background-color: #1D809F !important;
  border-color: #1D809F !important;
  color: #fff !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #155d74 !important;
  border-color: #155d74 !important;
}

.btn-secondary {
  background-color: #ecb807 !important;
  border-color: #ecb807 !important;
  color: #fff !important;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #ba9106 !important;
  border-color: #ba9106 !important;
}

.btn-dark {
  color: #fff !important;
}

.btn {
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  font-weight: 700;
}

.bg-primary {
  background-color: #1D809F !important;
}

.text-primary {
  color: #1D809F !important;
}

.text-secondary {
  color: #ecb807 !important;
}

@media (min-width: 1366px) {
  .container {
    max-width: 92.9vw;
  }
}
